:root {
    --theme-light-text: #EEEEEE;
    --theme-light-background: #EEEEEE;
    --theme-light-border: #EEEEEE;

    --theme-dark-text: #222831;
    --theme-dark-background: #222831;
    --theme-dark-border: #222831;

    --theme-primary-text: #4F8A8B;
    --theme-primary-background: #4F8A8B;
    --theme-primary-border: #4F8A8B;

    --theme-secondary-text: #FBD46D;
    --theme-secondary-background: #FBD46D;
    --theme-secondary-border: #FBD46D;

    --theme-tertiary-text: #F76C6C;
    --theme-tertiary-background: #F76C6C;
    --theme-tertiary-border: #F76C6C;
}